<app-post 
*ngFor="let post of posts"
[post]="post"
[authID]="authID
"></app-post>

<!--<div class="panel">
    <div class="panel-body">
        <div class="fb-user-thumb">
            <img src="https://th.bing.com/th/id/R.0d4de4a899b0a4a4a65ada092dcc1d48?rik=vNSwaHQYtYXang&riu=http%3a%2f%2fgetdrawings.com%2ffree-icon%2fcool-avatar-icons-61.png&ehk=1ZeRd%2fbG2mzIwVIaqz8NBaJDmHyUIjY30K9HDrhRsAA%3d&risl=&pid=ImgRaw&r=0" alt="">
        </div>
        <div class="fb-user-details">
            <h3><a href="#" class="#">Ellison Mey</a></h3>
            <p>7 minutes ago near Minnesota, USA</p>
        </div>
        <div class="clearfix"></div>
        <p class="fb-user-status">Phirith is world famous professional photographer.  with forward thinking clients to create beautiful, honest and amazing things that bring positive results. Phirith is world famous professional photographer with forward thinking clients to create beautiful, honest and amazing things that bring positive results.
        </p>
        <div class="fb-status-container fb-border">
            <div class="fb-time-action">
                <a href="#" title="Like this">Like</a>
                <span>-</span>
                <a href="#" title="Leave a comment">Comments</a>
                <span>-</span>
                <a href="#" title="Send this to friend or post it on your time line">Share</a>
            </div>
        </div>
  
        <div class="fb-status-container fb-border fb-gray-bg">
            <div class="fb-time-action like-info">
                <a href="#">Jhon Due,</a>
                <a href="#">Danieal Kalion</a>
                <span>and</span>
                <a href="#">40 more</a>
                <span>like this</span>
            </div>
  
            <ul class="fb-comments">
                <li>
                    <a href="#" class="cmt-thumb">
                        <img src="https://pbs.twimg.com/profile_images/913032062084407301/jtkX26p1.jpg" alt="">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Jhone due</a>
                        <span> is world famous professional photographer.  with forward thinking clients to create beautiful, </span>
                        <p>40 minutes ago - <a href="#" class="like-link">Like</a></p>
                    </div>
                </li>
                <li>
                    <a href="#" class="cmt-thumb">
                        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/28702f20334673.562e9c1e0d9d2.png" alt="">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Tawseef</a>
                        <span> is world famous professional photographer.  with forward thinking clients to create beautiful, </span>
                        <p>34 minutes ago - <a href="#" class="like-link">Like</a></p>
                    </div>
                </li>
  
                <li>
                    <a href="#" class="cmt-thumb">
                        <img src="https://assets.glassesdirect.co.uk/media/help/glasses-for-oval-faceshape-01.png" alt="">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Jhone due</a>
                        <span> is world famous professional photographer.   </span>
                        <p>15 minutes ago - <a href="#" class="like-link">Like</a></p>
                    </div>
                </li>
                <li>
                    <a href="#" class="cmt-thumb">
                        <img src="https://th.bing.com/th/id/OIP.oJ_hw82u7qlTw1cO9oyqQgAAAA?pid=ImgDet&w=400&h=522&rs=1" alt="">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Tawseef</a>
                        <span> thinking clients to create beautiful world famous professional photographer.  </span>
                        <p>2 minutes ago - <a href="#" class="like-link">Like</a></p>
                    </div>
                </li>
                <li>
                    <a href="#" class="cmt-thumb">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                    </a>
                    <div class="cmt-form">
                        <textarea class="form-control" placeholder="Write a comment..." name=""></textarea>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>-->
