.card-body1{
    padding: 25px;
    border-style: inset;
    border-width: 2px;
    border-color: #F26925;
    
}

.card-body2{
    padding: 16px;
    border-style: inset;
    border-width: 2px;
    border-color: #F26925;
}

.card-body3{
    padding: 0px;
    text-align-last: center;
    height: 300px;
    border-style: inset;
    border-width: 2px;
    border-color: #F26925;
   
}

.text-secondary1 {
    padding: 0px;
    text-align-last: center;
    height: 300px;
    border-style: inset;
    border-width: 2px;
    border-color: #F26925;
}   

