.footer 
{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 100px;
    background: #F26925;
   
}

h1
{
    font-weight: bold;
    color:#fff;
    font-size: 20px;
}

p
{
    color:#fff;
    font-size: 12px;
}



a
{
    color: #fff;  
    text-decoration: none;
    padding: 0px 10px;
    font-size: 17px;
}

a:hover
{
    color: var(--primary-color)
}

i
{
    padding: 0px 10px;
}