<div class="container-fliud footer mt-5">

    <div class="row">
        <!-- name -->
        <div class="col-lg-4">
            <h1>Revature Connect</h1>
            <p> Connecting great minds to advance talent and technologies.</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="chatroom"> Chat Room</a>
            <a routerLink="user-profile">User Profile</a>
            <a routerLink="settings">Settings</a>
           
        </div>
        <!-- socialmedia -->
        <div class="col-lg-4">
            <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-snapchat"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-telegram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-pinterest"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
</div>


