<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="" routerLinkActive="active link">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="chatroom" routerLinkActive="active link">Chat Room</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="user-profile" routerLinkActive="active link">User Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="settings" routerLinkActive="active link">Settings</a>
    </li>
    <!-- hides the login button when the user is logged in and authenticated -->
    <app-login-button *ngIf="(auth.isAuthenticated$ | async ) === false" ></app-login-button>
    <!-- logout button when the user is logged in and authenticated -->
    <app-logout-button *ngIf="auth.isAuthenticated$ | async"></app-logout-button>
  </ul>
