<div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      <strong>About Me</strong>
    </h4>
  
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action" data-toggle="list" href="general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="about-me">About Me</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="dark-mode">Dark Mode</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="social-links">Social Links</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="top-post">Top Post</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show">
                   <!-- code to update the aboutme -->
                   <app-display-settings-aboutme
                   *ngIf="auth.user$ | async as user"
                   [user]="user"
                   (onSubmitPicture)="updateUserPicture($event)"
                   (onSubmitUsername)="updateUsername($event)"
                   (onSubmitAboutMe)="updateAboutMe($event)">
                  </app-display-settings-aboutme>
    <div class="text-right mt-3">
      <button type="button" class="btn">Save changes</button>&nbsp;
      <button type="button" class="btn">Cancel</button>
    </div>
  </div>