
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar" *ngFor="let iconBar of [1,2,3]"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">User Profile</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Dark Mode<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-xs-7">
        <h3>Post</h3>
        <!-- <button class="like-button" [ngClass]="{'liked':isLiked}" (click)="likeTheButton()">
            Like | <span class="like-counter">{{ likeCount }}</span>
          </button>
           -->
           <div #animationElement>
            <button mat-raised-button color="primary" class="like-button">
              <svg class="heart" viewBox="0 0 512 512">
                <g transform="matrix(1.25 0 0 -1.25 0 45)">
                    
                        <path d="M189.44-1.33c-9.774,27.659-40.095,42.177-67.766,32.427
                          C104.88,25.168,92.991,11.629,88.36-4.232C74.809,5.212,57.06,8.284,40.3,2.379C12.641-7.383-1.889-37.728,7.873-65.387
                          c1.388-3.925,3.231-7.543,5.37-10.9c22.198-40.755,86.335-69.404,125.178-69.757c29.992,24.656,61.963,87.199,53.669,132.858
                          C191.659-9.227,190.805-5.244,189.44-1.33"/>
                </g>
              </svg>
          
            <span>Like me!</span>
            </button>
          </div>
          
    </div>
</div>
